body {
  background-color: #76DFFB;
}

h1 {
  text-align: center;
  font-family: 'Solway', serif;
}

h2 {
  text-align: center;
  font-family: 'Solway', serif;
}

h3 {
  font-family: 'Solway', serif;
}

h4 {
  font-family: 'Solway', serif;
}

h5 {
  font-family: 'Solway', serif;
}

h6 {
  font-family: 'Solway', serif;
}

p {
  font-family: 'Solway', serif;
}

label {
  font-family: 'Solway', serif;
}

input {
  font-family: 'Solway', serif;
}

.subtitle {
  font-style: italic;
  text-align: center;
}

.font {
  font-family: 'Solway', serif;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background color: white;
}

.hide {
  display: none;
}

.big {
  font-size: 3.0rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

li {
  text-align: center;
  display: inline-block;
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgrey;
}

.hide_matht {
  display: none;
}

.hide_mathr {
  display: none;
}

.hide_sciencet {
  display: none;
}

.hide_sciencer {
  display: none;
}

.hide_elat {
  display: none;
}

.hide_elar {
  display: none;
}

.hide_sstudiest {
  display: none;
}

.hide_sstudiesr {
  display: none;
}

.hide_languaget {
  display: none;
}

.hide_languager {
  display: none;
}

.hide_othert {
  display: none;
}

.hide_otherr {
  display: none;
}
